body{
	margin:0;
	background:#bbb;
	padding-bottom:3em;
}
a{
	font-weight:bold;
	color:inherit;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
.navlink{
	float:right;
	margin-left:2em;
	color:#400;
	font-weight:normal;
	text-decoration:underline;
}
.navlink:hover{
	color:#00f;
}
nav li{
	list-style-type:none;
	display:inline;
	padding:0 2em;
}

header{
	float:left;
	width:90%;
	margin:0;
	padding:1em 5% 0 5%;
	background:#400;
	color:#fff;
/*	background-image: -webkit-gradient(linear, 0 top, 0 bottom, 
from(#449), color-stop(0.4, #004), to(#004));
	background-image: -moz-linear-gradient(#449, #004 0.4, 
#004);*/
}
#mainnav{
	float:right;
	padding:0;
	margin-top:0.4em;
	clear:both;
}
#mainnav ul{
	text-transform:uppercase;
	font-family:sans-serif;
	margin:0;
	padding:0;
}
#mainnav li{
	margin:0;
	padding:0;
	float:left;
	height:1em;
}
#mainnav li a{
	margin:0;
	padding:0 2em;
	position:relative;
	top:-0.2em;
	padding-top:0.2em;
	text-decoration:none;
}
#mainnav .currentpage {
	background:#400;
}
#mainnav .currentpage a{
	background:#fff;
	color:#000;
	border-top-left-radius:0.7em;
	border-top-right-radius:0.7em;
	/*        */
	-moz-border-radius-topleft:0.7em;
	-webkit-border-top-left-radius:0.7em;
	-khtml-border-top-left-radius:0.7em;
	-opera-border-top-left-radius:0.7em;
	-moz-border-radius-topright:0.7em;
	-webkit-border-top-right-radius:0.7em;
	-khtml-border-top-right-radius:0.7em;
	-opera-border-top-right-radius:0.7em;
	/*        */
}
#mainnav .currentpage + li{
	background:#fff;
	margin-top:0.7em
	height:0.1em;
}
#mainnav .currentpage + li a, #mainnav :not(.currentpage):hover + li:not(.currentpage) a{
	background:#400;
	height:1em;
	border-bottom-left-radius:1em;
	/*        */
	-moz-border-radius-bottomleft:1em;
	-webkit-border-bottom-left-radius:1em;
	-khtml-border-bottom-left-radius:1em;
	-opera-border-bottom-left-radius:1em;
	/*        */
}
#mainnav li:not(.currentpage):hover a{
	border-top-left-radius:0.7em;
	border-top-right-radius:0.7em;
	/*        */
	-moz-border-radius-topleft:0.7em;
	-webkit-border-top-left-radius:0.7em;
	-khtml-border-top-left-radius:0.7em;
	-opera-border-top-left-radius:0.7em;
	-moz-border-radius-topright:0.7em;
	-webkit-border-top-right-radius:0.7em;
	-khtml-border-top-right-radius:0.7em;
	-opera-border-top-right-radius:0.7em;
	/*        */
	background:#309;
}
#mainnav :not(.currentpage):hover + li:not(.currentpage){
	background:#309;
}
#me{
	font-size:3em;
	font-family:helvetica, serif;
	display:block;
	float:left;
	vertical-align:middle;
}
#me a{
	text-decoration:none;
	font-weight:normal;
}
#about{
	float:right;
	width:17em;
	margin:0.5em;
}

#content{
	clear:both;
	padding:1em 2em 1em 2em;
	margin:0 5%;
	background:#fff;
}
h1{
	margin-top:0;
}
footer{
	padding:0;
	margin:0 5%;
	display:block;
	background:#ddd;
	float:left;
	width:90%;
}
footer li{
	float:left;
}
footer ul{
	margin:0;
}
.label{
	font-weight:bold;
}
#project{
	margin:1em;
}
.homepage a{
	font-weight:normal;
	text-decoration:underline;
	color:blue;
}
.projectpic{
	float:left;
	max-height:15em;
	margin:0 1em 1em 0;
}
.caption{
	display:block;
	text-align:center;
	font-size:smaller;
	font-weight:bold;
	font-family:monospace;
}
.caption a{
	color:blue;
}
#end{
	clear:both;
	display:block;
}
.imgholder{
	clear:both;
}
.imgholder img{
	max-width:40em;
}
.left{
	float:left;
	margin-right:2em;
}
.right{
	float:right;
	margin-left:2em;
}
#also{
	font-family:cursive;
	font-style:italic;
	font-size:smaller;
	opacity:0.5;
	font-weight:normal;
	display:block;
	padding:0;
	width:10em;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
	float:right;
	position:relative;
	top:-3em;
}
#also:hover{
	opacity:1;
	text-decoration:none;
}
.warning{
	padding:0 2em;
	background:#900;
	color:#fff;
	font-weight:bold;
	margin:0.5em 0;
	display:block;
}
