<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
	<head>
		<title>{{ block "title" . }} {{ .Site.Title }}{{ end }}</title>
		<link rel="stylesheet" type="text/css" href="/style" />
		<link rel="alternate" type="application/rdf+xml" href="/.rdf" />
		<link rel="shortcut icon" type="image/png" href="/img/favicon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="mobile-web-app-capable" content="yes" />
	</head>
	<body data-path="{{ .Path }}">
		<header><span id="me"><a href="/"><img src="/img/logo" alt="Luke 
	Blaney" /></a></span><span id="about"></span>
		<nav id="mainnav">
			<ul>
				<li {{ if eq .RelPermalink "/" }} class="currentpage" {{ end }}><a href="/" title="About Luke">About</a></li>
				<li {{ if eq .Type "project" }} class="currentpage" {{ end }}><a href="/projects/" title="Luke's Projects">Projects</a></li>
				<li {{ if eq .Type "talk" }} class="currentpage" {{ end }}><a href="/talks/" title="Luke's Talks &amp; Panels">Talks</a></li>
				<li {{ if eq .RelPermalink "/music.html" }} class="currentpage" {{ end }}><a href="/music" title="Luke's Music">Music</a></li>
				<li {{ if eq .RelPermalink "/cv.html" }} class="currentpage" {{ end }}><a href="/cv" title="Luke's Curriculum Vitae">CV</a></li>
				<li {{ if eq .RelPermalink "/contact.html" }} class="currentpage" {{ end }}><a href="/contact" title="Contact Luke">Contact</a></li>
			</ul>
		</nav>
		</header>
		<main>
			{{ block "main" . }}
			{{ end }}
		</main>
		<footer>
			<nav><ul>
				<li><a rel="me" href="http://www.facebook.com/lucas42" title="For people who know me">Facebook</a></li>
				<li><a rel="me" href="http://twitter.com/lucas42" title="For people who want to know me">Twitter</a></li>
				<li><a rel="me" href="http://www.linkedin.com/in/lukeblaney" title="For people who want to employ me">LinkedIn</a></li>
				<li><a rel="me" href="https://hachyderm.io/@lucas42">Mastodon</a></li>
			</ul></nav>
		</footer>
		{{ if isset .Params "rdfurl" }}<a href="{{ .Params.rdfurl }}" id="also">This page is also available as rdf</a>{{ end }}
	</body>
</html>