{{ define "main" }}
	<h1>Projects</h1>
		{{ .Content }}
		<div id="summaries">
			{{ $pages := where site.RegularPages "Type" .Type }}
			{{- range $pages -}}
				{{- if eq .Params.subtype "minor" }}{{ continue }}{{ end -}}

			<div id="{{ .File.BaseFileName }}" class="projsummary">
				<a href="{{strings.Replace .RelPermalink ".html" ""}}" class="thumblink">
					{{- if .Params.defaultthumb -}}
					<img class="project_thumb default_thumb" src="/img/projects/thumbs/default" alt="{{ .LinkTitle }}" title="{{ .LinkTitle }}" />
					{{- else -}}
					<img class="project_thumb" src="/img/projects/thumbs/{{ .File.BaseFileName }}" alt="{{ .LinkTitle }}" title="{{ .LinkTitle }}" />
				{{- end -}}
				</a>
				<h2>
					<a href="{{strings.Replace .RelPermalink ".html" ""}}">{{ .LinkTitle }}</a>
				</h2>

				{{ with .Params.years }}
				<div class="years">
					<span class="label">Timeframe: </span>{{ . }}
				</div>
				{{ end }}
				{{ .Summary}}
				<a href="{{strings.Replace .RelPermalink ".html" ""}}" class="navlink">More Info...</a>
			</div>
			{{ end -}}
		<div id="minor" class="projsummary"><h2>Minor Contributions</h2><p>A couple of projects which I wasn't heavily involved in.  But I get a credit on their websites, so  I'm including them anyway.</p>
			{{- range $pages -}}
				{{- if not (eq .Params.subtype "minor") }}{{ continue }}{{ end}}
				<div id="{{ .File.BaseFileName }}">
					<h3><a href="{{strings.Replace .RelPermalink ".html" ""}}">{{ .LinkTitle }}</a></h3>
					{{ .Summary}}
				</div>
		 {{- end }}
		</div>
	</div>
<span id="end" />
{{ end }}