body{
	margin:0;
	background:#eee;
	padding-bottom:3em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	overflow-x: hidden;
}
a{
	font-weight:bold;
	color:inherit;
	text-decoration:none;
	color:#400;
}
a:hover{
	text-decoration:underline;
}
a img{
	border:none;
}
code{
	white-space:pre;
}
nav li{
	list-style-type:none;
	display:inline;
	padding:0 2em;
}
#mainnav ul{
	border-top:solid;
	clear:both;
	margin:0;
	text-transform:uppercase;
	display: flex;
	flex-flow: row wrap;
	padding-inline-start: 0;
}
#mainnav li{
	display: contents;
}
#mainnav li a{
	font-weight: normal;
	color: inherit;
	flex: 1;
	text-align: center;
	padding: 0 15px;
}
#mainnav li.currentpage a {
	background:#fafafa;
	color:#400;
}
header{
	float:left;
	width:90%;
	margin:0 5%;
	padding-top:1em;
	background:#400;
	color:#fff;
}
#me{
	font-size:3em;
	font-family:helvetica, serif;
	display:block;
	float:left;
	vertical-align:middle;
	padding:0.25em 0.75em;
}
#me a{
	text-decoration:none;
	font-weight:normal;
	color:#fff;
}
#me img{
	height:1em;
}
#about{
	float:right;
	width:17em;
	margin:1em;
}

main {
	clear:both;
	padding:1em 2em;
	margin:0 5%;
	background: #fafafa;
}
h1{
	margin-top:0;
}
h1,h2,h3,h4,h5{
	color:#400;
}
article {
	max-width: 600px;
	margin: 0 auto;
}
body > footer{
	padding:0;
	margin:0 5%;
	display:block;
	background:#fff;
	float:left;
	width:90%;
	font-size:0.8em;
}
footer li{
	float:left;
}
footer ul{
	border-top: solid #400;
	margin:0;
}
.content {
	display: flex;
	align-items: center;
	flex-direction: row;
}
[data-path="/cv"] .content {
	align-items: start;
}
figure.primary img {
	width: 300px;
}
@media (max-width: 850px) {
	.content {
		flex-direction: column;
	}
	[data-path="/cv"] .content {
		align-items: center;
	}
	figure.primary {
		margin: 0;
		max-width: 100%;
	}
	figure.primary img {
		max-width: 100%;
	}
}

/** Project Pages **/

#summaries {
	display: flex;
	flex-flow: row wrap;
}
.projsummary{
	border: thin solid #600;
	padding: 10px;
	flex-grow: 1;
	min-width: 50%;
}

@media (min-width: 700px) {
	.projsummary{
		min-width: 500px;
		flex-basis: 40%;
	}
}

#summaries > :nth-child(odd) > .thumblink {
	float: left;
}
#summaries > :nth-child(even) > .thumblink {
	float: right;
}
.navlink {
	display: block;
	text-align: right;
	clear: both;
}
.label{
	font-weight:bold;
}
#project{
	display: inline-block;
	margin:1em;
}
.homepage a, .source a, .download a{
	font-weight:normal;
}
.project_thumb {
	height:100px;
	width:100px;
	margin:10px;
	transition: 1s ease-in;
}
.default_thumb:hover {
	border-radius: 50px;
}
#footlights_thumb {
	position:relative;
	width:150px;
	left:-15px;
	margin-left:0;
	margin-right:-28px;
	border:none;
	transition: 0.2s ease-in;
}
#footlights_thumb:hover {
	transform: rotate(60deg);
	transition: 1s ease-in;
}
#vixens_thumb:hover {
	transform: rotateX(180deg);
}
#bedlam_thumb:hover {
	transform: rotateY(180deg);
}
#sdp_thumb {
	transition: 0.2s ease-in;
}
#sdp_thumb:hover {
	transform: skew(-30deg);
}
#allfeeds_thumb {
	transition: 1s ease-in;
}
#allfeeds_thumb:hover {
	transform: rotateY(180deg) rotateZ(90deg);
}
#waffler_thumb {
	transition: 0.2s ease-in;
}
#waffler_thumb:hover {
	transform: scale(0.2);
	transition: 1s ease-in;
}
#lucOS_thumb {
	transition: 0.5s ease-in;
}
#lucOS_thumb:hover {
	padding-top: 80px;
	margin-bottom: -70px;
	transition: 0.2s ease-in;
}
#lucOS2_thumb {
	transition: 0.5s ease-in;
}
#lucOS2_thumb:hover {
	transition: 0.3s ease-in;
	rotate: 45deg;
	transform-origin: top;
}
#lucOS4_thumb {
	transition: 0.5s ease-in;
	clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0%);
	padding-left: 0;
}
#lucOS4_thumb:hover {
	clip-path: polygon(0 0, 0 100%, 67% 100%, 68% 0%);
	padding-left: 15%;
}
#mad-world_thumb {
	transition: 0.5s ease-in;
}
#mad-world_thumb:hover {
	margin: -10px 10px;
	height: 140px;
	border-radius: 50px;
}
#lockdown-compositions_thumb:hover {
	transform: matrix(1.2, 0.2, -1, 0.8, 2, 2);
	border-radius: 0 60px;
}
#travel-map_thumb {
	transition: 0.5s ease-in;
}
#travel-map_thumb:hover {
	margin: 10px -10px;
	width: 140px;
	border-radius: 50px;
}
#lukeblaney\.co\.uk_thumb {
	clip-path: polygon(0% 0%, 100% 0%, 100% 30%, 100% 30%, 100% 30%, 100% 30%, 100% 30%, 100% 70%, 100% 100%, 0% 100%, 0% 73%, 0% 73%, 0% 26%, 0% 25%);
}
#lukeblaney\.co\.uk_thumb:hover {
	clip-path: polygon(33% 14%, 65% 14%, 61% 27%, 55% 27%, 47% 72%, 67% 73%, 69% 62%, 81% 62%, 77% 85%, 20% 85%, 21% 73%, 29% 73%, 38% 26%, 30% 25%);
	transition: 0.3s ease-in;
}
#tfluke_thumb {
	clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 100% 0%);
}
#tfluke_thumb:hover {
	clip-path: polygon(96% 99%, 0% 36%, 0% 34%, 100% 18%);
	transition: 0.2s ease-out;
}
#nhmu-wiki_thumb {
	clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 100%);
	transition: 0.2s ease-in;
}
#nhmu-wiki_thumb:hover {
	clip-path: polygon(50% 0%, 50% 0%, 6% 100%, 90% 100%);
	transition: 0.5s ease-out;
}

.copyright {
	display: block;
}
/** End Project Pages **/

/** Talk Pages **/
.talk-list {
	max-width: 600px;
	margin: 0 auto;
}
.talk-list .conference {
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.talk-list .talk:after {
	content: "~";
	color: #600;
	display: block;
	text-align: center;
	font-size: large;
	font-family: serif;
}
.talk-list .talk h2 {
	font-size: 1.3em;
	margin-block-end: 0.2em;
}
.talk-list > .talk > .talk-links {
	margin-top: 10px;
}
.talk-list > .talk > .talk-links > a {
	background: #600;
	color: #fff;
	border-radius: 15px;
	padding: 0 15px;
}
/** End Talk Pages **/

figure {
	clear:both;
	margin-top:1em;
	max-width: 40em;
}
figure.smaller{
	max-width: 20em;
}
figure.left{
	float:left;
	margin-right:2em;
}
figure.right{
	float:right;
	margin-left:2em;
}
figure img{
	max-width: 100%;
}
figure figcaption{
	display:block;
	text-align:center;
	font-size:smaller;
	font-weight:bold;
	font-family:monospace;
}
#also{
	font-family:cursive;
	font-style:italic;
	font-size:smaller;
	font-weight:normal;
	display:block;
	padding: 0.4em 0 3em 0;
	width:15%;
	text-align: center;
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
	transform: rotate(-30deg);
	float:right;
	position:relative;
	top:-2em;
	left:0;
	background: #eee;
	color: #caa;
}
#also:hover{
	color: #900;
	text-decoration:none;
}